<footer>
    <div class="musics">
        <a href="https://music.amazon.com/artists/B000QKSA74/scorpions?tag=smarturl-20">
            <img src="/assets/social/amazon_music.jpg" alt="amazon">
        </a>
        <a href="https://music.apple.com/br/artist/scorpions/602212">
            <img src="/assets/social/apple_music.jpg" alt="apple">
        </a>
        <a href="https://open.spotify.com/intl-pt/artist/27T030eWyCQRmDyuvr1kxY">
            <img src="/assets/social/spotify.jpg" alt="spotify">
        </a>
        <a href="https://www.youtube.com/@ScorpionsVEVO">
            <img src="/assets/social/vevo.jpg" alt="vevo">
        </a>
        <a href="https://www.youtube.com/c/scorpions">
            <img src="/assets/social/youtube.jpg" alt="youtube">
        </a>
    </div>

    <div class="social">
        <a href="https://www.tiktok.com/@scorpionsofficial">
            <img src="/assets/social/tiktok.png" alt="tiktok">
        </a>
        <a href="https://m.facebook.com/Scorpions/">
            <img src="/assets/social/facebook.png" alt="facebook">
        </a>
        <a href="https://www.instagram.com/scorpions/">
            <img src="/assets/social/instagram.png" alt="instagram">
        </a>
        <a href="https://x.com/scorpions">
            <img src="/assets/social/twitter.png" alt="twitter">
        </a>
    </div>

    <h1><a href="https://www.the-scorpions.com/">Site Oficial</a></h1>
</footer>