<div class="music-card">
    <div class="album-image">
        <img src="{{track.album.images[0].url}}" alt="Album cover for {{track.name}}">
    </div>
    <div class="music-details">
        <h1>{{track.name}}</h1>
        <h2>{{track.album.name}}</h2>
   <!--    <audio *NgIf="track.preview_url != null">
            <source src="{{track.preview_url}}">
        </audio>
        *ngIf="track.preview_url == null"
        --> 
        
        <a  target="_blank" href="{{track.external_urls.spotify}}">Play</a>
    </div>
</div>
