main {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #000;
}

main > div {
    overflow: hidden;
    width: 100vw;
}

main > div.text{
    filter: brightness(.3);
}
div > img {
    width: 100%;
    height: 100%;
    position: relative;
    filter: blur(.5px);
}

main > button {
    position: absolute;
    top: 50vh;
    background-color: #000;
    color: #fff;
    width: 4.5rem;
    height: 10rem;
    z-index: 3;
    border: 0;
    border-radius: 6px;
    filter: opacity(.5);
}

button {
    cursor: pointer;
}

p {
    position: absolute;
    color: #fff;
    top: 25vh;
    z-index: 3;
    width: 50vw;
    background: none;
    font-size: 26px;
    text-align: justify;
    left: 25rem;
}
button.left {
    left: 1rem;
}

button.right {
    right: 1rem;
}

main > button:hover {
    background-color: #111;
    color: #f7f7f7;
    font-size: 24px;
    transition: 1s;
}

section {
    height: 100vh;
    overflow: hidden;
    margin-top: 8rem;
}

.line-one, .line-two {
    display: flex;
    gap: 5vw;
    justify-content: center;
}

section#tracks, section#albums {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100vw;
    gap: 50px;
    background-color: #111;
}

section#albums {
    flex-wrap: nowrap;
    margin: 0;
    background-color: #f7f7f7;
}

section#shows {
    display: flex;
    height: 10rem;
    gap: 50px;
    margin: 3rem 0;
    justify-content: center;
    align-items: center;
}

#shows > button {
    background-color: #444;
    border: none;
    padding: 0 0 0 10px;
    height: 5rem;
    filter: opacity(.4);
}

#shows > button:hover {
    filter: opacity(1);
    transition: .5s;
}

@media (max-width: 1440px) {
    section#tracks, main {
        height: auto;
    }
}